mixin validacionesPendientesCards(id, ticketText, badget1, badget2, badget3, direccion, statustext, ptos, hrs, asing, statusGlobal, statusColor)
    li.mt-2.pt-2.bg-white
        a(href="#")
            ul.tecnioo-card.d-flex.align-items-stretch.w-100
                li.tecnioo-card--flag
                li.tecnioo-card--item.px-3
                    p.tecnioo-card--title
                        i.fas.fa-phone.mr-2
                        span.tecnioo-card--title__id= id
                    p.tecnioo-card--ticket
                        i.fas.fa-layer-group.pr-2
                        small.tecnioo-card--ticket__text= ticketText
                    .tecnioo-card--content.mb-1
                        span.badge.badge-light.p-2.mr-1= badget1
                        span.badge.badge-light.p-2.mr-1= badget2
                        span.badge.badge-light.p-2.mr-1= badget3
                    p.tecnioo-card--place.pb-2
                        i.fas.fa-map-marker-alt.tc-icon 
                        small.pl-2= direccion
                li.tecnioo-card--item.px-3.ml-auto
                    .tecnioo-card--label.mb-3
                        small= statustext
                        span.badge.badge-primary.p-2.ml-2= ptos
                    p.tecnioo-card--deadline 
                        b=hrs
                    p
                        i.fas.fa-user-circle.pr-2 
                        span= asing
                    small
                        i.fas.fa-clock.pr-2 
                        span 12/01/20 
                        span 16:42:17

        .container-fluid.pb-2
            .row.justify-content-between
                .col
                    h6 
                        span.tecnioo-card--title__status(class='bg-'+statusColor )
                        =statusGlobal
                if statusColor != 'success'
                    .col.text-right
                        a.btn.btn-secondary.btn-sm.mr-auto(href="") Resolver
mixin listStado(color, name, number, button)
    a(href="#")
        ul.d-flex.justify-content-between.align-items-center
            li 
                p.m-0
                    span.tecnioo-card--title__status(class="bg-"+color)
                    =name
            li 
                p.m-0=number
            if button
                li Consultar
mixin listName(name, number)
    a(href="#")
        ul.d-flex.justify-content-between.align-items-center
            li 
                p.m-0
                    =name
            li 
                p.m-0=number
mixin tableRow(color, cierre, asingacion, sla)
    tr(onclick="window.location.href = '#';")
        td 
            span.tecnioo-card--title__status(class="bg-"+color)
            i.fas.fa-phone.mr-2
            span 26/01/2020
        td #12345789
        td 
            b Urgencia Cooler - Modelo - Logo
        td 0
        td
            if color == "success"
                b(class="text-color-"+color) Solucionado OK
            else
                b(class="text-color-"+color)=cierre
        td=asingacion
        td
            b=sla
        td Nombre Sucursal - Cliente Spot
        td Providencia
mixin tableRowTecnico(tecnico, tipo, cumplimiento)
    tr 
        td
            i.fas.fa-user-circle.mr-2
            span=tecnico
        td
            span(class="tecnioo-card--title__status d-inline-block bg-"+(tipo == "C" ? "info" : "secondary")+"")
            span=(tipo == "C" ? "Camioneta" : "Mantención")
        td 
            b Santiago
        td 12
        td 10
        td 1200
        td 920
        td= cumplimiento
        td 08:03 hrs
        td 19:32 hrs
mixin llamadosCard1(id, ticketText, badget1, badget2, badget3, direccion, statustext, ptos, hrs, asing)
    li.mt-2.pt-2.bg-white
        a(href="#")
            ul.tecnioo-card.d-flex.align-items-stretch.w-100
                li.tecnioo-card--flag
                li.tecnioo-card--item.px-3
                    p.tecnioo-card--title
                        i.fas.fa-phone.mr-2
                        span.tecnioo-card--title__id= id
                    p.tecnioo-card--ticket
                        i.fas.fa-layer-group.pr-2
                        small.tecnioo-card--ticket__text= ticketText
                    .tecnioo-card--content.mb-1
                        span.badge.badge-light.p-2.mr-1= badget1
                        span.badge.badge-light.p-2.mr-1= badget2
                        span.badge.badge-light.p-2.mr-1= badget3
                    p.tecnioo-card--place.pb-2
                        i.fas.fa-map-marker-alt.tc-icon 
                        small.pl-2= direccion
                li.tecnioo-card--item.px-3.ml-auto
                    .tecnioo-card--label.mb-3
                        small= statustext
                        span.badge.badge-primary.p-2.ml-2= ptos
                    p.tecnioo-card--deadline 
                        b=hrs
                    p
                        i.fas.fa-user-circle.pr-2 
                        span= asing
                    small
                        i.fas.fa-clock.pr-2 
                        span 12/01/20 
                        span 16:42:17
mixin checklistPreventivo(title, indo)
    li.bg-gray
        .custom-control.custom-radio.custom-control-inline
            input(type="radio" id="customRadioInline1" name="customRadioInline1").custom-control-input
            label.custom-control-label(for="customRadioInline1") Si
        .custom-control.custom-radio.custom-control-inline
            input(type="radio" id="customRadioInline2" name="customRadioInline1").custom-control-input
            label.custom-control-label(for="customRadioInline2") No
        .custom-control.custom-radio.custom-control-inline
            input(type="radio" id="customRadioInline2" name="customRadioInline1").custom-control-input
            label.custom-control-label(for="customRadioInline2") No sé

//- Asignaciones del día
//- Columna horarios
mixin rangoHorariosTabla(horarios, asignacion, clase)
    a.select-day.d-block(href="#")&attributes(attributes)
        .d-flex.justify-content-between.my-2
            span.px-1= horarios
            span.px-1= asignacion

mixin tarjetaProgramacion(index, id, lat, lng, pts, dir, loc, sla, ots, tip)
    li.tecnioo-card
        hr
        ul.d-flex.w-100
            li.tecnioo-card--flag
            li.tecnioo-card--item.custom-control.custom-checkbox.ml-3
                input.custom-control-input.bk-marker(type="checkbox" id="ListaParaAsignar_["+index+"]_CheckLlamado" name="ListaParaAsignar_["+index+"]" data-id=id data-pts=pts data-lat=lat data-lng=lng data-dir=dir data-loc=loc data-sla=sla data-tip=tip)
                label.custom-control-label(for="ListaParaAsignar_["+index+"]_CheckLlamado")
            li.tecnioo-card--item.px-3
                p.tecnioo-card--title
                    span.mr-2
                        i.fas.fa-layer-group.mr-1
                        | #{ots}
                    span.tecnioo-card--title__id # #{id}
                    span.tecnioo-card--title__text 
                        b Urgencia Cooler  [Modelo]
                    span.tecnioo-card--title__status
                .tecnioo-card--info
                    span.badge.badge-primary.py-1.px-2.mb-1 Diagnostico nivel 1
                .tecnioo-card--content.mb-1
                    span.badge.badge-light.p-2.mr-1 Coller no enfria
                    span.badge.badge-light.p-2.mr-1 Coller no enfria
                    span.badge.badge-light.p-2.mr-1 Coller no enfria
                p.tecnioo-card--place.pb-2
                    i.fas.fa-map-marker-alt.tc-icon 
                    small.pl-2 Cliente Spot [Logo] - #{dir}
            li.tecnioo-card--item.ml-auto
                .tecnioo-card--label.mb-3
                    span.badge.badge-primary.p-2 #{pts} pts
                p.tecnioo-card--deadline #{sla}d
                p
                    small
                        i.fas.fa-clock.pr-2 
                        span 12/01/20
                        span 16:42:17
        p
            small Hoy 
                span.text-success abierto
                span.badge.badge-light.p-2.mx-2 
                    | lu a do 08:00 a 15:00
                span.badge.badge-light.p-2.mx-2 
                    | lu a do 15:00 a 23:00
//- no son parte del proyecto actual            
//-mixin slides(image, title, caption)
    .item.text-center&attributes(attributes)
        img(src=image , alt=title ,).img-responsive
        if title != ''
            .carousel-caption.carousel-caption-box.cadousel-captio-left
                h1.title__display.carousel-caption-title= title
                h4= caption

//- mixin article(header,title, caption, price)
    if header == ''
        article&attributes(attributes)
            h2.title__regular= title
            p= caption
            p= price
            block
    else
        article&attributes(attributes)
            header
                p.article-header--txt!= header
            h2.title__regular= title
            p= caption
            p= price
            block

//- mixin productBanner(bg,title,text)
    section(class=bg+" tec-product--container container-fluid")
        article.container
            .tec-article-wrapp&attributes(attributes)
                h2.tec-article--title=title
                p.tec-article--text=text
                block button
                    a(href=baseDir+title+".html" title=title class=title+" tec-primary-btn dib") Añadir al carrito

//- mixin indexProductArticle(title, link, zona)
    article.col-sm-4.tec-index-product__item(class=link)&attributes(attributes)
        .tec-index-product__item--card
            a.tec-index-product__item--link(href=linkSrc+zona+"/"+link+".html")
                .tec-index-product__img--wrap
                    span
                    img.img-responsive.tec-index-product__img(src=baseDir+"assets/img/"+link+"-cart.jpg", alt=title)
                    .tec-index-product__item--card-title
                        p=title

//- mixin productMasCenter(title, direccion, m2, n, link, map, zona)
    article.col-sm-4.tec-product__item&attributes(attributes)
        .tec-product__item--card
            a(href=zona+"/"+link+".html")
                .tec-product__img--wrap
                    img.img-responsive.tec-product__img(src=baseDir+"assets/img/"+link+"-cart.jpg", alt=title)
                .tec-product__caption
                    h2.tec-product__title=title
                    p.tec-product__direccion=direccion
                    hr.visible-sm
                    .col-xs-6.tec-product__info
                        p.tec-product__subtitle='M2 Aarrendables'
                        p=m2
                    .col-xs-4.tec-product__info
                        p.tec-product__subtitle='N° Locales'
                        p=n
                    .col-xs-2.tec-product__info
                        a(href="" data-toggle="modal", data-target="#"+link+"-modal")
                            img.tec-product__img-map(src=baseDir+"assets/img/marcador-mapa.png", alt="")
                            span.tec-product__subtitle MAPA
                        div(class="modal fade" id=link+"-modal" tabindex="-1" role="dialog")
                            .modal-dialog.modal-lg(role="document")
                                .modal-content
                                    .modal-header
                                        span.title__display.text-bold="Strip Center "+title
                                        button.close(type="button" data-dismiss="modal" aria-label="Close")
                                            span(aria-hidden="true") &times;
                                    iframe(src=map, width="100%", height="550", frameborder="0", style="border:0", allowfullscreen)

//- mixin contentMasCenter(direccion, m2, n, map, restaurant, servicio, superm, shop, instituto, otro)
    section.container.tec--strip__content
            .row.tec--strip__content--caption
                .col-sm-4
                    h4 Dirección
                    hr
                    p=direccion
                .col-sm-4
                    h4 M2 Arrendables
                    hr
                    p=m2
                .col-sm-4
                    h4 Número de locales
                    hr
                    p=n
            .row
                .col-sm-12
                    h3.title__display.pages-commun__sub-title&attributes(attributes) Locales principales
            hr
            .row
                unless restaurant == ''
                    .col-sm-4.tec--restaurantes.tec--locals
                        each restaurantes in restaurant
                            p=restaurantes
                unless servicio == ''
                    .col-sm-4.tec--servicios.tec--locals
                        each servicios in servicio
                            p=servicios
                unless superm == ''
                    .col-sm-4.tec--supers.tec--locals
                        each supers in superm
                            p=supers
                unless shop == ''
                    .col-sm-4.tec--shops.tec--locals
                        each shops in shop
                            p=shops
                unless instituto == ''
                    .col-sm-4.tec--institutos.tec--locals
                        each institutos in instituto
                            p=institutos
                unless otro == ''
                    .col-sm-4.tec--otros.tec--locals
                        each otros in otro
                            p=otros
            .row
                .col-sm-12
                    h3.title__display.pages-commun__title Ubicación
                    iframe(src=map, width="100%", height="350", frameborder="0", style="border:0", allowfullscreen)
