extends ../layout/_header

block append config
    -var pageTitle = 'Asistente de Llamados'
    -var pageDescription = ''
    -var baseDir = ''
    -var linkSrc = ''

block mainContent
    main.content-wrapper
        section.container-fluid.pt-5.pb-3.px-5
            .row
                .col-md-4.col-lg-6
                    h4 Asistente de creación de llamado
        section.container-fluid.px-5
            .row.mb-5.align-items-stretch
                .col-sm-4.col-md-2.bg-grey
                    article.p-2
                        ul#progressStep
                            li.active.list-step
                                p 
                                    span 1 
                                    | Crear Ticket
                            each val, i in {1:'Crear Ticket', 2:'Datos de contacto', 3:'Información del equipo', 4:'Diagnóstico', 5:'Información del problema', 6:'Horario de atención'}
                                li 
                                    p 
                                        span #{i} 
                                        | #{val}
                .col-sm-8.col-md-7
                    #msform
                        ul#progressbar.d-flex.justify-content-between
                            li.active.w-100
                            - for (var x = 0; x < 5; x++)
                                li.w-100
                        fieldset.w-100
                            include ../layout/_step1
                        fieldset.w-100
                            include ../layout/_step2
                        fieldset.w-100
                            include ../layout/_step3
                        fieldset.w-100
                            include ../layout/_step4
                        fieldset.w-100
                            include ../layout/_step5
                        fieldset.w-100
                            include ../layout/_step6
                .col-md-3.bg-grey.d-none.d-md-block
                    include ../layout/_previewllamado

    .modal.fade(id="crearLlamadoModal" tabindex="-1" role="dialog" aria-labelledby="crearLlamadoLabel" aria-hidden="true")
        .modal-dialog.modal-lg(role="document")
            .modal-content
                .modal-header
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                .modal-body
                    include ../layout/_previewllamado
                    p.text-center
                        a.btn.btn-danger.my-5(href="#") Enviar Solicitud

    block scripts 
        script(
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"
            )
        script(
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"
            )
        script(
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
            crossorigin="anonymous"
            )
        script( src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" )
        script(src=baseDir+"assets/js/main-dist.js")