extends ../layout/_header

block append config
    -var pageTitle = 'Detalle Llamado Local Cerrado'
    -var pageDescription = ''
    -var baseDir = ''
    -var linkSrc = ''

block mainContent
    main.content-wrapper
        section.container.pt-5.pb-3
            ul.d-flex.justify-content-between
                li
                    h5
                        i.fas.fa-arrow-left.mr-2
                        i.fas.fa-phone.mr-2
                        span #09346486358
                li
                    h5
                        i.fas.fa-layer-group.pr-2 
                        | Urgencia de Cooler - [Modelo] - [Logo] / Local Cerrado
                li.align-self-end.text-right
                    h5
                        span +24H
            .row.card
                .col-12.pt-2
                    ul.d-flex.justify-content-between.align-items-baseline.mb-0
                        li
                            h4 
                                span.tecnioo-card--title__status.bg-danger
                                | Local Cerrado
                                a(href="#").btn.btn-outline-primary.btn-sm.ml-4 OT: 987654321
                        li
                            p.text-right
                                i.fas.fa-user-circle.pr-2
                                span.mr-4
                                    small Juan Pérez
                                span.mr-4
                                    small 12/08/19 12:43 hrs
                                span.badge.badge-primary.p-2.ml-2.ml-auto 500 pts
                    hr
                    ul.d-flex.justify-content-between.align-items-baseline.mb-0.py-4
                        li.mr-3
                            h6 Motivo
                            .card.px-3.py-2
                                p.mb-0 Local en remodelación
                        li.mr-3
                            h6 Tiempo de espera
                            .card.px-3.py-2.mb-2
                                p.mb-0 23 min
                        li
                            h6 Observación Técnico
                            .card.px-3.py-2.mb-2
                                p.mb-0 Se deja ok el equipo
                    hr
                    .bk-gallery
                        h6 Imágenes
                        ul.d-flex.justify-content-between.align-items-baseline.mb-0
                            li.px-2
                                img(src="https://aakruthigroup.com/wp-content/uploads/2017/09/gallery-dummy-img-1.jpg", alt="").w-25
                                p
                                    small 12/08/19 12:43 hrs
                    .container
                        ul.row
                            li.col-6
                                h6 Estado del Check-In
                                .badge.badge-info.p-2.mr-1 Fuera de rango
                                .card.mt-4
                                    table.table
                                        tr
                                            td Burguer King Pedro de Fontova
                                            td.text-right ID: 9676
                                    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3331.01075626506!2d-70.58617688480206!3d-33.39688358078929!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf2ddbca25c3%3A0x94faa92657957dde!2sAv%20Vitacura%205250%2C%20of.%20308%2C%20Vitacura%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1579371739262!5m2!1ses-419!2scl"
                                    width="100%" 
                                    height="150" 
                                    frameborder="0" 
                                    style="border:0;" 
                                    allowfullscreen="")
                                    table.table
                                        tr
                                            td Ubicación
                                            td.text-right Providencia 701
                                        tr
                                            td Comuna
                                            td.text-right Providencia
                                        tr
                                            td Zona TCM 
                                            td.text-right Santiago
                                        tr
                                            td Coordenadas
                                            td.text-right -33.68735, -70.378273
                                        tr
                                            td Hora de llegada
                                            td.text-right 12:03 hrs
                                        tr
                                            td Hora de Salida
                                            td.text-right 13:33 hrs
                            li.col-6
                                h6 Firma Cliente
                                .badge.badge-info.p-2.mr-1 No Aplica
    include ../layout/_scripts