extends ../layout/_header

block append config
    -var pageTitle = 'Programación de llamados'
    -var pageDescription = ''
    -var baseDir = ''
    -var linkSrc = ''
block header
    nav.tecnioo-navbar.navbar.bg-primary.px-2.flex-row

        a.navbar-brand.tecnioo-navbar--wrap(href="#")
            img.tecnioo-navbar--wrap__img(src="./assets/img/avatar-2.png", alt="Tecnioo")
        a.text-white.px-2 Programación para
        div
            select.form-control
                - for (var i = 15; i < 28; ++i) 
                    option= i+'/02/2020'
        nav.navbar-nav.ml-md-auto.flex-row.align-items-center.text-white
            a.px-2.text-white(href="home.html") Salir <i class="fas fa-sign-out-alt"></i>
block mainContent
    main.content-wrapper
        section.container-fluid.pt-5.pb-3.px-5
            .row
                .col-sm-4
                    h4 Seleccionar Ticket
                .col-sm-8
                    include ../layout/_filtros.pug
                .col-3
                    p.mb-1 
                        b 0 seleccionados
                    select.form-control.d-inline.w-75.mr-2
                        each val in ['Seleccionar', 'Alberto Rivera','Sebastián Gonzalez','Juan Pérez','Roberto Soto', 'Sebastián Guédez']
                            option= val
                    a(href="#").btn.btn-outline-primary.btn-sm.my-2 Asignar
            hr.mt-4
            .row
                .col.py-3
                    ul.nav.nav-pills.nav-justified(id="myTab" role="tablist")
                        each val in ['Todos','Urgencias','Instalaciones','Retiros','Modificaciones', 'Perforaciones', 'Cambio accesorios', 'Puesta en marcha']
                                a.nav-item.nav-link(href="#" data-tip=(val.toLowerCase()))= val
            .row.mb-5.tecnioo-biglist
                .col-5
                    article.tecnioo-biglist--container.pr-4
                        form
                            .form-group.row.pt-4
                                label.col-1.col-form-label(for="buscarTicket") Todos
                                .col-sm-8
                                    input.form-control(type="text" placeholder="Buscar ticket" id="buscarTicket")
                                .col-3.text-right
                                    a(href="#").btn.btn-outline-primary.btn-sm Buscar
                        hr
                        ul.d-flex.justify-content-around.align-items-baseline
                            li.my-1.ml-3
                                .custom-control.custom-checkbox
                                    input(type="checkbox" class="custom-control-input" id="selectAllcheckbox")
                                    label(class="custom-control-label" for="selectAllcheckbox") Seleccionar Todos
                            li.my-1.ml-3
                                .custom-control.custom-checkbox
                                    input(type="checkbox" class="custom-control-input" id="filterSla")
                                    label(class="custom-control-label" for="filterSla") SLA 24hrs
                            li.my-1.ml-3
                                span Pts a asignar:
                                span.badge.badge-primary.p-2.my-1.tecnioo-biglist--puntos 0
                        ul#tecnioo-unassigned-list
                            - 
                                var array = [
                                    { 
                                        "id":"266",
                                        "pts":"84",
                                        "lat":"-33.453397",
                                        "lng":"-70.570569",
                                        "dir":"AVDA LARRAIN 5862  LOC 4036 5862  L 0 LA REINA",
                                        "loc":"FUENTE NICANOR SPA",
                                        "sla":"-264",
                                        "ots":"3",
                                        "tip":"urgencias",
                                    },
                                    { 
                                        "id":"269",
                                        "pts":"84",
                                        "lat":"-33.525189",
                                        "lng":"-70.661016",
                                        "dir":"GRAN AVENIDA 7716 7716 0 LA CISTERNA",
                                        "loc":"CESAR CRISTOBAL ARANCIBIA FERNANDEZ",
                                        "sla":"216" ,
                                        "ots":"3",
                                        "tip":"instalaciones",
                                    },
                                    {
                                        "id":"281",
                                        "pts":"50",
                                        "lat":"-33.515808",
                                        "lng":"-70.689861",
                                        "dir":"AV SALVADOR ALLENDE 03788 03788 0 LO ESPEJO",
                                        "loc":"LORRAINE VALESKA CACERES GROVE",
                                        "sla":"206",
                                        "ots":"3",
                                        "tip":"retiros",
                                    },
                                    {
                                        "id":"274",
                                        "pts":"84",
                                        "lat":"-33.376872",
                                        "lng":"-70.644494",
                                        "dir":"AV LAS TORRES # 1042 1042 0 HUECHURABA",
                                        "loc":"NANCY SALAZAR ESCOBAR",
                                        "sla":"93",
                                        "ots":"3",
                                        "tip":"instalaciones",
                                    },
                                    {
                                        "id":"277",
                                        "pts":"84",
                                        "lat":"-33.611339",
                                        "lng":"-71.610853",
                                        "dir":"JOSE MIGUEL CARRERA 304 0 SAN ANTONIO",
                                        "loc":"INGRID OLIVA ALARCON",
                                        "sla":"193",
                                        "ots":"3",
                                        "tip":"retiros",
                                    },
                                    {
                                        "id":"278",
                                        "pts":"84",
                                        "lat":"-32.857108",
                                        "lng":"-71.234107",
                                        "dir":"LORCA PRIETO  20 LOCAL-3 (LACRUZ) 20 0 LA CRUZ",
                                        "loc":"PEDRO ANTONIO ATENAS TOLEDO",
                                        "sla":"182",
                                        "ots":"3",
                                        "tip":"urgencias",
                                    },
                                    {
                                        "id":"282",
                                        "pts":"280",
                                        "lat":"-33.545065",
                                        "lng":"-70.629461",
                                        "dir":"TACORA 9051 9051 0 LA GRANJA",
                                        "loc":"MICHAEL CASTILLO CASANO",
                                        "sla":"18",
                                        "ots":"3",
                                        "tip":"instalaciones",
                                    },
                                    {
                                        "id":"283",
                                        "pts":"84",
                                        "lat":"-33.031864",
                                        "lng":"-71.630403",
                                        "dir":"ARTILLERÑA 347 0 VALPARAÍSO",
                                        "loc":"JUAN PABLO NARVAEZ",
                                        "sla":"-182",
                                        "ots":"3",
                                        "tip":"retiros",
                                    },
                                    {
                                        "id":"276",
                                        "pts":"0",
                                        "lat":"-33.437279",
                                        "lng":"-70.675859",
                                        "dir":"ESPERANZA 682 682 0 SANTIAGO",
                                        "loc":"SUSANA STEPHANY ARAYA ORELLANA",
                                        "sla":"10",
                                        "ots":"3",
                                        "tip":"urgencias",
                                    },
                                    {
                                        "id":"295",
                                        "pts":"84",
                                        "lat":"-33.433187",
                                        "lng":"-70.6256528",
                                        "dir":"Providencia 701 PROVIDENCIA",
                                        "loc":"4ptech ",
                                        "sla":"12",
                                        "ots":"3",
                                        "tip":"instalaciones",
                                    },
                                    {
                                        "id":"296",
                                        "pts":"84",
                                        "lat":"-33.517416",
                                        "lng":"-70.622035",
                                        "dir":"CALLE M 250 250 0 LA GRANJA",
                                        "loc":"MARIMAN LEUFUMAN BELDANO",
                                        "sla":"24",
                                        "ots":"3",
                                        "tip":"retiros",
                                    }
                                ]

                            each val, key in array
                                +tarjetaProgramacion(key, val.id, val.lat, val.lng, val.pts, val.dir, val.loc, val.sla, key, val.tip)


                .col-7.p-0
                    #map(style="position:relative;height: 100%;width: 100%;margin: 0px;padding: 0px")

        .tecnioo-assigned-list
            - 
                var array2 = [
                    {
                        "id":"266",
                        "lat":"-33.453397",
                        "lng":"-70.570569",
                        "dir":"AVDA LARRAIN 5862  LOC 4036 5862  L 0 LA REINA",
                        "tec":"Juan Gonzalez",
                        "loc":"FUENTE NICANOR SPA"
                    },
                    {
                        "id":"269",
                        "lat":"-33.525189",
                        "lng":"-70.661016",
                        "dir":"GRAN AVENIDA 7716 7716 0 LA CISTERNA",
                        "tec":"Juan Gonzalez",
                        "loc":"CESAR CRISTOBAL ARANCIBIA FERNANDEZ"
                    },
                    {
                        "id":"270",
                        "lat":"-33.353681",
                        "lng":"-70.522913",
                        "dir":"EL RODEO 13032 0 LO BARNECHEA",
                        "tec":"Juan Gonzalez",
                        "loc":"SOCIEDAD GASTRONOMICA TANAKA SPA"
                    }
                ]
            each val, key in array2
                .tecnioo-assigned-card
                    .bk-marker(data-id=val.id data-lat=val.lat data-lng=val.lng data-dir=val.dir data-tec=val.tec data-loc=val.loc)

        section.tecnioo-cards.container-fluid.pb-5.px-5
            .row.pb-4
                    .col-6
                        h4 
                            |Seleccionar Técnico
                            .d-inline.dropdown.pl-5
                                button.btn.btn-outline-primary.dropdown-toggle(type="button" id="dropdownTecnicosTipo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Filtrar
                                .dropdown-menu(aria-labelledby="dropdownTecnicosTipo")
                                    each val in ['Todos','Técnico Camioneta','Técnico Ruta Sanitizados']
                                        a.dropdown-item(href="#")= val
            .row.justify-content-center.align-items-stretch
                .col-sm-2
                    a(href="programaciontecnico.html").tecnioo-card-tecnico.card
                        .card-body
                            .card-title
                                i.fas.fa-user-circle.pr-2(style="font-size:1.2rem;")
                                b Sofía Vargas
                            ul.card-content.d-flex.justify-content-between.align-items-center
                                li 
                                    small 8 Tickets
                                li
                                    small 1250 pts
                            .progress.my-3
                                .progress-bar.progress-bar-striped.bg-success(role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100")
                            ul.card-content.d-flex.justify-content-between.align-items-center
                                li
                                    .badge.badge-info.bg-success.p-2 Técnico Ruta
                                li
                                    .small Max 1000 pts
                each val in ['Alberto Rivera','Sebastián Gonzalez','Juan Pérez','Roberto Soto', 'Sebastián Guédez']               
                    .col-sm-2
                        a(href="programaciontecnico.html").tecnioo-card-tecnico.card
                            .card-body
                                .card-title
                                    i.fas.fa-user-circle.pr-2(style="font-size:1.2rem;")
                                    b=val
                                ul.card-content.d-flex.justify-content-between.align-items-center
                                    li 
                                        small 3 Tickets
                                    li
                                        small 125 pts
                                .progress.my-3
                                    .progress-bar.progress-bar-striped.bg-info(role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100")
                                ul.card-content.d-flex.justify-content-between.align-items-center
                                    li
                                        .badge.badge-warning.bg-info.p-2 Técnico Camioneta
                                    li
                                        .small Max 1000 pts

    block scripts 
        script(
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"
            )
        script(
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"
            )
        script(
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
            crossorigin="anonymous"
            )
        script(src=baseDir+"assets/js/map-dist.js")
        script(
            async
            defer
            src="https://maps.googleapis.com/maps/api/js?callback=initMap"
            )