extends ../layout/_header

block append config
    -var pageTitle = 'Programación de llamados'
    -var pageDescription = ''
    -var baseDir = ''
    -var linkSrc = ''
block header
    nav.tecnioo-navbar.navbar.bg-primary.px-2.flex-row

        a.navbar-brand.tecnioo-navbar--wrap(href="#")
            img.tecnioo-navbar--wrap__img(src="./assets/img/avatar-2.png", alt="Tecnioo")
        a.text-white.px-2 Programación para
        div
            select.form-control
                each val in ['11/dic','12/dic','13/dic','14/dic','15/dic']
                    option= val
        nav.navbar-nav.ml-md-auto.flex-row.align-items-center.text-white
            a.px-2.text-white(href="#") Salir <i class="fas fa-sign-out-alt"></i>
block mainContent
    main.content-wrapper
        section.container-fluid.pt-5.pb-3.px-5
            .row.justify-content-between.align-items-center
                .col-3
                    a(href="#").tecnioo-card.card
                        .card-body
                            .card-title
                                i.fas.fa-user-circle.pr-2(style="font-size:1.2rem;")
                                b Sofía Vargas
                            ul.card-content.d-flex.justify-content-between.align-items-center
                                li 
                                    small 8 Tickets
                                li
                                    small 1250 pts
                            .progress.my-3
                                .progress-bar.progress-bar-striped.bg-success(role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100")
                            ul.card-content.d-flex.justify-content-between.align-items-center
                                li
                                    .badge.badge-info.bg-success.p-2 Técnico Ruta
                                li
                                    .small Max 1000 pts
                .col-9
                    h4 Seleccionar Ticket
                    p.mb-1 
                        b 0 seleccionados
                    select.form-control.d-inline.w-25
                        each val in ['Seleccionar', 'Alberto Rivera','Sebastián Gonzalez','Juan Pérez','Roberto Soto', 'Sebastián Guédez']
                            option= val
                    a(href="#").btn.btn-outline-primary.btn-sm.mx-4 Reasignar a otro técnico
                    a(href="programacion").btn.btn-outline-danger.btn-sm.mx-4 Excluir de la programación
            hr.mt-4
            .row
                .col.py-3
                    ul.nav.nav-pills.nav-justified(id="myTab" role="tablist")
                        each val in ['Todos (120)','Urgencias (98)','Instalaciones (12)','Retiros','Modificaciones', 'Perforaciones', 'Cambio accesorios', 'Puesta en marcha']
                                a.nav-item.nav-link(href="#")= val
            .row.mb-5.tecnioo-biglist
                .col-5
                    article.tecnioo-biglist--container.pr-4
                        form
                            .form-group.row.pt-4
                                label.col-1.col-form-label(for="buscarTicket") Todos
                                .col-sm-8
                                    input.form-control(type="text" placeholder="Buscar ticket" id="buscarTicket")
                                .col-3.text-right
                                    a(href="#").btn.btn-outline-primary.btn-sm Buscar

                        ul
                            - for (var x = 0; x < 5; x++)
                                li
                                    hr
                                    ul.tecnioo-card.d-flex.align-items-stretch.w-100
                                        li.tecnioo-card--flag
                                        li.tecnioo-card--item.custom-control.custom-checkbox.ml-3
                                            input.custom-control-input(type="checkbox" id="ed-"+x)
                                            label.custom-control-label(for="ed-"+x)
                                        li.tecnioo-card--item.px-3
                                            p.tecnioo-card--title
                                                span.tecnioo-card--title__id #12345678 - 
                                                span.tecnioo-card--title__text 
                                                    b Urgencia Cooler  [Modelo]
                                                span.tecnioo-card--title__status
                                            .tecnioo-card--content.mb-1
                                                span.badge.badge-light.p-2.mr-1 Coller no enfria
                                                span.badge.badge-light.p-2.mr-1 Coller no enfria
                                                span.badge.badge-light.p-2.mr-1 Coller no enfria
                                            p.tecnioo-card--place.pb-2
                                                i.fas.fa-map-marker-alt.tc-icon 
                                                small.pl-2 Cliente Spot [Logo] - Providencia, Santiago
                                        li.tecnioo-card--item.px-3.ml-auto
                                            .tecnioo-card--label.mb-3
                                                span.badge.badge-primary.p-2 500 pts
                                            p.tecnioo-card--deadline.text-center -4d


                .col-7.p-0
                    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3331.01075626506!2d-70.58617688480206!3d-33.39688358078929!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf2ddbca25c3%3A0x94faa92657957dde!2sAv%20Vitacura%205250%2C%20of.%20308%2C%20Vitacura%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1579371739262!5m2!1ses-419!2scl"
                    width="100%" 
                    height="450" 
                    frameborder="0" 
                    style="border:0;" 
                    allowfullscreen="")


    include ../layout/_scripts