extends ../layout/_header

block append config
    -var pageTitle = 'Programación de llamados'
    -var pageDescription = ''
    -var baseDir = ''
    -var linkSrc = ''
block header
    nav.tecnioo-navbar.navbar.bg-primary.px-2.flex-row

        a.navbar-brand.tecnioo-navbar--wrap(href="#")
            img.tecnioo-navbar--wrap__img(src="./assets/img/avatar-2.png", alt="Tecnioo")
        a.text-white.px-2 Programación para
        div
            select.form-control
                - for (var i = 15; i < 28; ++i) 
                    option= i+'/02/2020'
        nav.navbar-nav.ml-md-auto.flex-row.align-items-center.text-white
            a.px-2.text-white(href="home.html") Salir <i class="fas fa-sign-out-alt"></i>
block mainContent
    main.content-wrapper
        section.container-fluid.pt-5.pb-3.px-5
            .row
                .col-sm-4
                    h4 Seleccionar Ticket
                .col-sm-8
                    include ../layout/_filtros.pug
                .col-3
                    p.mb-1 
                        b 0 seleccionados
                    select.form-control.d-inline.w-75.mr-2
                        each val in ['Seleccionar', 'Alberto Rivera','Sebastián Gonzalez','Juan Pérez','Roberto Soto', 'Sebastián Guédez']
                            option= val
                    a(href="#").btn.btn-outline-primary.btn-sm.my-2 Asignar
            hr.mt-4
            .row
                .col.py-3
                    ul.nav.nav-pills.nav-justified(id="myTab" role="tablist")
                        each val in ['Todos (120)','Urgencias (98)','Instalaciones (12)','Retiros','Modificaciones', 'Perforaciones', 'Cambio accesorios', 'Puesta en marcha']
                                a.nav-item.nav-link(href="#")= val
            .row.mb-5.tecnioo-biglist
                .col-5
                    article.tecnioo-biglist--container.pr-4
                        form
                            .form-group.row.pt-4
                                label.col-1.col-form-label(for="buscarTicket") Todos
                                .col-sm-8
                                    input.form-control(type="text" placeholder="Buscar ticket" id="buscarTicket")
                                .col-3.text-right
                                    a(href="#").btn.btn-outline-primary.btn-sm Buscar
                        hr
                        ul.d-flex
                            li.my-1.ml-3
                                .custom-control.custom-checkbox
                                    input(type="checkbox" class="custom-control-input" id="selectAllcheckbox")
                                    label(class="custom-control-label" for="selectAllcheckbox") Seleccionar Todos
                            li.my-1.ml-3
                                .custom-control.custom-checkbox
                                    input(type="checkbox" class="custom-control-input" id="filterSla")
                                    label(class="custom-control-label" for="filterSla") SLA 24hrs
                            li.my-1.ml-3
                                span Pts a asignar:
                                span.my-1.tecnioo-biglist--puntos
                        ul
                            - for (var x = 0; x < 4; x++)
                                li.tecnioo-card
                                    hr
                                    ul.d-flex.align-items-stretch.w-100
                                        li.tecnioo-card--flag
                                        li.tecnioo-card--item.custom-control.custom-checkbox.ml-3
                                            input.custom-control-input(type="checkbox" id="ListaParaAsignar_["+x+"]_CheckLlamado" class="bk-marker" data-lat="-33."+x+"6" data-lng="-70."+x+"1" data-id="1"+x data-pts="1"+x name="ListaParaAsignar_["+x+"]")
                                            label.custom-control-label(for="ListaParaAsignar_["+x+"]_CheckLlamado")
                                        li.tecnioo-card--item.px-3
                                            p.tecnioo-card--title
                                                span.tecnioo-card--title__id #12345678 - 
                                                span.tecnioo-card--title__text 
                                                    b Urgencia Cooler  [Modelo]
                                                span.tecnioo-card--title__status
                                            .tecnioo-card--content.mb-1
                                                span.badge.badge-light.p-2.mr-1 Coller no enfria
                                                span.badge.badge-light.p-2.mr-1 Coller no enfria
                                                span.badge.badge-light.p-2.mr-1 Coller no enfria
                                            p.tecnioo-card--place.pb-2
                                                i.fas.fa-map-marker-alt.tc-icon 
                                                small.pl-2 Cliente Spot [Logo] - Providencia, Santiago
                                        li.tecnioo-card--item.px-3.ml-auto
                                            .tecnioo-card--label.mb-3
                                                span.badge.badge-primary.p-2 500 pts
                                            p.tecnioo-card--deadline -4d
                                            p
                                                small
                                                    i.fas.fa-clock.pr-2 
                                                    span 12/01/20 
                                                    span 16:42:17


                .col-7.p-0
                    #map(style="position:relative;height: 100%;width: 100%;margin: 0px;padding: 0px")

                    
        section.tecnioo-cards.container-fluid.pb-5.px-5
            .row.pb-4
                    .col-6
                        h4 
                            |Seleccionar Técnico
                            .d-inline.dropdown.pl-5
                                button.btn.btn-outline-primary.dropdown-toggle(type="button" id="dropdownTecnicosTipo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Filtrar
                                .dropdown-menu(aria-labelledby="dropdownTecnicosTipo")
                                    each val in ['Todos','Técnico Camioneta','Técnico Ruta Sanitizados']
                                        a.dropdown-item(href="#")= val
            .row.justify-content-center.align-items-stretch
                .col-sm-2
                    a(href="programaciontecnico.html").tecnioo-card-tecnico.card
                        .card-body
                            .card-title
                                i.fas.fa-user-circle.pr-2(style="font-size:1.2rem;")
                                b Sofía Vargas
                            ul.card-content.d-flex.justify-content-between.align-items-center
                                li 
                                    small 8 Tickets
                                li
                                    small 1250 pts
                            .progress.my-3
                                .progress-bar.progress-bar-striped.bg-success(role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100")
                            ul.card-content.d-flex.justify-content-between.align-items-center
                                li
                                    .badge.badge-info.bg-success.p-2 Técnico Ruta
                                li
                                    .small Max 1000 pts
                each val in ['Alberto Rivera','Sebastián Gonzalez','Juan Pérez','Roberto Soto', 'Sebastián Guédez']               
                    .col-sm-2
                        a(href="programaciontecnico.html").tecnioo-card-tecnico.card
                            .card-body
                                .card-title
                                    i.fas.fa-user-circle.pr-2(style="font-size:1.2rem;")
                                    b=val
                                ul.card-content.d-flex.justify-content-between.align-items-center
                                    li 
                                        small 3 Tickets
                                    li
                                        small 125 pts
                                .progress.my-3
                                    .progress-bar.progress-bar-striped.bg-info(role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100")
                                ul.card-content.d-flex.justify-content-between.align-items-center
                                    li
                                        .badge.badge-warning.bg-info.p-2 Técnico Camioneta
                                    li
                                        .small Max 1000 pts

    block scripts 
        script(
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"
            )
        script(
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"
            )
        script(
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
            crossorigin="anonymous"
            )
        script(src="https://maps.googleapis.com/maps/api/js")
        script(src=baseDir+"assets/js/map-dist.js")