extends ../layout/_header

block append config
    -var pageTitle = 'Rutas Calendario'
    -var pageDescription = ''
    -var baseDir = './'
    -var linkSrc = ''


block mainContent
    main.content-wrapper
        section.container-fluid.pt-5.pb-3.padding-xl
            .row.padding-xl
                .col-sm-2
                    h4 
                        span.tecnioo-card--title__status.bg-success
                        | Postmix
                .col-sm-10
                    ul.d-flex.justify-content-end.align-items-center
                        li.mr-auto
                            .dropdown
                                button.btn.btn-light.dropdown-toggle(type="button" id="dropdownTecnicos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Comuna
                                .dropdown-menu(aria-labelledby="dropdownTecnicos")
                                    each val in ['Todos','Providencia','Santiago','Las Condes']
                                        a.dropdown-item(href="#")= val
                        li.mr-auto
                            .input-group.input-group-sm
                                .input-group-prepend
                                    label.input-group-text(for="#step2SelectClientType")
                                        i.fas.fa-search
                                    input.form-control(type="text" placeholder="ID Cliente")
                        li.mr-3
                            .dropdown
                                button.btn.btn-light.dropdown-toggle(type="button" id="dropdownTecnicos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Técnicos
                                .dropdown-menu(aria-labelledby="dropdownTecnicos")
                                    each val in ['Todos','Pedro Carrasco','Jorge Salgado','Juan Gonzalez']
                                        a.dropdown-item(href="#")= val
                        li.mr-3
                            .dropdown
                                button.btn.btn-light.dropdown-toggle(type="button" id="dropdownZona" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Zona TCM
                                .dropdown-menu(aria-labelledby="dropdownZona")
                                    each val in ['Todas','Santiago','Rancagua','Viña del mar']
                                        a.dropdown-item(href="#")= val
                        li
                            button.btn.btn-outline-primary Filtrar

            .row.tab-content.padding-xl#myTabContent
                .col-md-10.col-xl-9.pt-4
                    ul.d-flex.justify-content-between
                        li.pr-3(style="min-width:12%")
                            ul.nav.nav-pills.flex-column.mb-3#pills-tab(role="tablist" aria-orientation="vertical")
                                li.nav-item.mb-2
                                    a.nav-link.active.py-1#pills-home-tab(data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true") Tabla
                                li.nav-item
                                    a.nav-link.py-1#pills-profile-tab(data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false") Mapa
                        li.p-2.text-center.border.border-right-0
                            span <i class="fas fa-caret-left"></i>
                        - 
                            var week = [
                                {
                                    "id" : "1",
                                    "name" : "Lunes",
                                    "nikName" : "Lun",
                                },
                                {
                                    "id" : "2",
                                    "name" : "Martes",
                                    "nikName" : "Mar",
                                },
                                {
                                    "id" : "3",
                                    "name" : "Miercoles",
                                    "nikName" : "Mie",
                                },
                                {
                                    "id" : "4",
                                    "name" : "Jueves",
                                    "nikName" : "Jue",
                                },
                                {
                                    "id" : "5",
                                    "name" : "Viernes",
                                    "nikName" : "Vie",
                                },
                                {
                                    "id" : "6",
                                    "name" : "Sabado",
                                    "nikName" : "Sab",
                                },
                                {
                                    "id" : "0",
                                    "name" : "Domingo",
                                    "nikName" : "Dom",
                                },
                            ]
                        each val, key in week
                            li.p-2.text-center.border.border-right-0.w-100(class="weekDay-"+val.id)
                                span#activeDay.d-none Hoy 
                                span #{val.nikName} 
                                span#dayNumber 
                                a.pb-0.nav-item.nav-link.dropdown-toggle(id="dayAction"+val.id href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") acciones
                                .dropdown-menu.dropdown-menu-right.dropright(aria-labelledby="#dayAction"+val.id)
                                    each val in ['Reprogramar Día', 'Ver Mapa' ]
                                        a.dropdown-item(href="#")= val
                        li.p-2.text-center.border
                            span <i class="fas fa-caret-right"></i>
                .col-md-2.col-xl-3.pt-4.text-right.text-xl-center
                    a.btn.btn-primary.btn-sm.mb-4#btnDatepicker(href="#") seleccionar fecha
                    #datepickerRoutes.d-none.datepickerRoutes

            .row.tab-content.padding-xl
                .col-md-10.col-xl-9
                    .tab-content#pills-tabContent
                        .tab-pane.fade.show.active#pills-home(role="tabpanel" aria-labelledby="pills-home-tab")
                            - 
                                var array = [
                                    { 
                                        "id"   : "1",
                                        "name" : "Juan Perez",
                                        "route" : "A",
                                        "pts" : "5000",
                                        "meta" : "85",
                                        "brix" : "4",
                                        "sanitizado" : "12",
                                        "tecWeek" : [
                                            {
                                                "meta" : "25",
                                                "brix" : "2",
                                                "sanitizado" : "6",
                                                "pts" : "600",
                                                "comunas": [ "Cerrillos", "La Reina", "Pudahuel" ]
                                            },
                                            {
                                                "meta" : "33",
                                                "brix" : "5",
                                                "sanitizado" : "12",
                                                "pts" : "900",
                                                "comunas": [ "Cerro Navia", "Las Condes", "Quilicura" ]
                                            },
                                            {
                                                "meta" : "47",
                                                "brix" : "2",
                                                "sanitizado" : "17",
                                                "pts" : "1280",
                                                "comunas": ["Las Condes", "La Reina", "Pudahuel"]
                                            },
                                            {
                                                "meta" : "55",
                                                "brix" : "3",
                                                "sanitizado" : "11",
                                                "pts" : "820",
                                                "comunas": [ "Cerrillos", "La Reina", "Pudahuel" ]
                                            },
                                            {
                                                "meta" : "63",
                                                "brix" : "5",
                                                "sanitizado" : "16",
                                                "pts" : "400",
                                                "comunas": [ "Cerro Navia", "Las Condes", "Quilicura" ]
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "2",
                                                "sanitizado" : "12",
                                                "pts" : "500",
                                                "comunas": [ "Las Condes", "La Reina", "Pudahuel" ]
                                            },
                                            {
                                                "meta" : "95",
                                                "brix" : "8",
                                                "sanitizado" : "5",
                                                "pts" : "500",
                                                "comunas": ["Cerrillos", "La Reina", "Pudahuel"]
                                            },
                                        ] 
                                    },
                                    { 
                                        "id" : "2",
                                        "name" : "Pedro Carrasco",
                                        "route" : "B",
                                        "pts" : "6000",
                                        "meta" : "75",
                                        "brix" : "5",
                                        "sanitizado" : "15",
                                        "tecWeek" : [
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Conchalí", "Lo Barnechea", "Quinta Normal" ]
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "El Bosque", "Lo Espejo", "Recoleta" ]
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Estacion Central", "Lo Prado", "Renca" ]
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Conchalí", "Lo Barnechea", "Quinta Normal" ]
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "El Bosque", "Lo Espejo", "Recoleta" ]
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Estacion Central", "Lo Prado", "Renca" ]
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Conchalí", "Lo Barnechea", "Quinta Normal" ]
                                            },
                                        ]
                                    },
                                    { 
                                        "id" : "3",
                                        "name" : "Gerardo Angulo",
                                        "route" : "C",
                                        "pts" : "6000",
                                        "meta" : "75",
                                        "brix" : "5",
                                        "sanitizado" : "15",
                                        "tecWeek" : [
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Huechuraba", "Macul", "San Miguel" ]
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Independencia", "Maipú", "San Joaquín" ]
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Huechuraba", "Macul", "San Miguel" ]
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Huechuraba", "Macul", "San Miguel" ]
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Independencia", "Maipú", "San Joaquín" ]
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Independencia", "Maipú", "San Joaquín" ]
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Independencia", "Maipú", "San Joaquín" ]
                                            },
                                        ]
                                    },
                                    { 
                                        "id" : "4",
                                        "name" : "Alverto Rivero",
                                        "route" : "D",
                                        "pts" : "6000",
                                        "meta" : "75",
                                        "brix" : "5",
                                        "sanitizado" : "15",
                                        "tecWeek" : [
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Las Condes","Buín","Recoleta" ]
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Santiago","Providencia","Puente Alto" ]
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Vitacura","Independencia","La Reina" ]
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Las Condes","Buín","Recoleta" ]
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Las Condes","Buín","Recoleta" ]
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Las Condes","Buín","Recoleta" ]
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Las Condes","Buín","Recoleta" ]
                                            },
                                        ]
                                    },
                                ]
                            each val, key in array
                                .wrap.mb-2.shadow(class="ruta"+val.route)
                                    ul.d-flex.justify-content-between

                                        li.p-3.border.border-right-0(style="min-width:12%")
                                            .d-flex.align-items-center.pb-3
                                                span.route-info--ico.route-info--ico__route.mr-2.bg-info
                                                    span.route-info--ico__content  #{val.route}
                                                span #{val.name}
                                            .d-flex.align-items-center.pb-3
                                                span.route-info--ico.bg-success.ml-3.mr-2
                                                    span.route-info--ico__content #{val.brix} 
                                                span
                                                    small Brix
                                            .d-flex.align-items-center.pb-4
                                                span.route-info--ico.bg-secondary.ml-3.mr-2
                                                    span.route-info--ico__content #{val.sanitizado} 
                                                span
                                                    small Sanitizado
                                            p.mb-1 #{val.pts}
                                            .progress(style="height:10px"  )
                                                .progress-bar.progress-bar-striped(role="progressbar" style="width:"+val.meta+"%;" aria-valuenow=val.meta aria-valuemin="0" aria-valuemax=val.pts) 
                                                    span(style="font-size:8px") #{val.meta}%
                                        
                                        li.p-2.text-center.border.border-right-0.d-flex.align-items-center
                                            span <i class="fas fa-caret-left"></i>
                                        each v, k in val.tecWeek
                                            li.p-3.text-center.border.border-right-0.w-100(class="card-day card-day-"+k)
                                                .progress.mb-4(style="height:10px")
                                                    .progress-bar.progress-bar-striped(role="progressbar" style="width:"+v.meta+"%;" aria-valuenow=v.meta aria-valuemin="0" aria-valuemax=v.pts) 
                                                        span(style="font-size:8px") #{v.pts} pts
                                                .d-flex.w-100.justify-content-between.align-items-center.py-2
                                                    span
                                                        small Ciclo 1
                                                    span.route-info--ico.bg-success
                                                        span.route-info--ico__content #{v.brix}
                                                .d-flex.w-100.justify-content-between.align-items-center.py-2
                                                    span
                                                        small Ciclo 11
                                                    span.route-info--ico.bg-secondary
                                                        span.route-info--ico__content #{v.sanitizado}
                                                .badge--container.pt-3
                                                    each comuna in v.comunas
                                                        .badge.badge-light.border.w-100.my-1(class="badge-"+comuna.toLowerCase().replace(' ','') data-comuna=comuna.toLowerCase().replace(' ','')) #{comuna}
                                                button(class="d-none btn btn-outline-primary btn-sm mt-2 cardBtnAsignacion") Asignar


                                        li.p-2.text-center.border.d-flex.align-items-center
                                            p <i class="fas fa-caret-right"></i>
                        .tab-pane.fade#pills-profile(role="tabpanel" aria-labelledby="pills-profile-tab")
                            .row
                                .col-3
                                    each val in array
                                        .card.mb-4
                                            .card-body.py-1.px-3
                                                .d-flex.align-items-center.pb-2
                                                    span.route-info--ico.route-info--ico__route.mr-2.bg-info
                                                        span.route-info--ico__content  #{val.route}
                                                    span #{val.name}
                                                .mb-2
                                                    .progress(style="height:10px")
                                                        .progress-bar.progress-bar-striped(role="progressbar" style="width:"+val.meta+"%;" aria-valuenow=val.meta aria-valuemin="0" aria-valuemax=val.pts) 
                                                            span(style="font-size:8px") #{val.meta}%
                                                .d-flex.align-items-center.pb-2
                                                    span.route-info--ico.bg-success.mr-2
                                                        span.route-info--ico__content #{val.brix} 
                                                    span
                                                        small Brix
                                                    .badge.badge-light.border.p-2.ml-auto Ciclo 4
                                                .d-flex.align-items-center.pb-2
                                                    span.route-info--ico.bg-secondary.mr-2
                                                        span.route-info--ico__content #{val.sanitizado}
                                                    span
                                                        small Sanitizado
                                                    .badge.badge-light.border.p-2.ml-auto Ciclo 11
                                .col-9
                                    #map(style="position:relative;height: 500px;width: 100%;margin: 0px;padding: 0px")

                .col-md-2.col-xl-3
                    - 
                        var asignar = [
                            { 
                                "id":"1",
                                "pts":"1 cuadro",
                                "ciclo": 2,
                                "rutas" : ["A", "D"],
                                "comuna" : "Las condes"
                            },
                            { 
                                "id":"2",
                                "pts":"2 cuadro",
                                "ciclo": 1,
                                "rutas" : ["B"],
                                "comuna" : "Estacion Central"
                            },
                            { 
                                "id":"3",
                                "pts":"3 cuadro",
                                "ciclo": 4,
                                "rutas" : [],
                                "comuna" : "Huechuraba"
                            },
                        ]
                    each val, key in asignar
                        .routeCardGroup
                            a.routeCard(href="#" data-comuna=val.comuna.toLowerCase().replace(' ','') data-rutas=val.rutas)
                                .card.rounded-0.pb-2
                                    .card-header.py-1.px-3
                                        .d-flex.align-items-baseline
                                            h6 Cod Máquina
                                            span.badge.badge-primary.p-2.mt-2.ml-auto 500pts
                                    .card-body.py-1.px-3
                                        p
                                            b Nombre Máquina [Modelo] [Logo]
                                        .d-flex.align-items-center.pb-2
                                            span.route-info--ico.bg-success.mr-2
                                                span.route-info--ico__content 5 
                                            span
                                                small Brix
                                            .badge.badge-light.border.p-2.ml-auto Ciclo 4
                                        .d-flex.align-items-center.pb-2
                                            span.route-info--ico.bg-secondary.mr-2
                                                span.route-info--ico__content 15 
                                            span
                                                small Sanitizado
                                            .badge.badge-light.border.p-2.ml-auto Ciclo 11
                                        small 15/04/2020
                                        p 12228 - Burger King 
                                            small Pedro Fontova 134

                                        p
                                            .badge.badge-light.border.p-2.ml-auto #{val.comuna}
                                        .d-flex.align-items-center
                                            each v, k in val.rutas
                                                span.route-info--ico.route-info--ico__route.mr-2.bg-info
                                                    span.route-info--ico__content(data-ruta="ruta-"+v.toLowerCase()) #{v}
                            .form-group
                                .input-group
                                    select.form-control.form-control-sm
                                        option Seleccionar Ruta
                                        each val in array
                                            option(value=val.name) (#{val.route}) #{val.name}
                                .button-group.p-2.border.d-flex.justify-content-between
                                    a.btn.btn-outline-primary.btn-sm(href="#") Ver OT
                                    button(type="submit" class="btn btn-outline-primary btn-sm ml-auto d-none") Asignar



        block scripts 
        script(
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"
            )
        script(
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"
            )
        script(
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
            crossorigin="anonymous"
            )
        script(
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"
            )
        //- script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")
        script(src=baseDir+"assets/js/routes-dist.js")
        script(src=baseDir+"assets/js/map-routes-dist.js")
        script(
            async
            defer
            src="https://maps.googleapis.com/maps/api/js?callback=initMap"
            )