extends ../layout/_header

block append config
    -var pageTitle = 'Rutas Calendario'
    -var pageDescription = ''
    -var baseDir = './'
    -var linkSrc = ''


block mainContent
    main.content-wrapper
        section.container-fluid.pt-5.pb-3
            .row
                .col-sm-2
                    h4 
                        span.tecnioo-card--title__status.bg-success
                        | Postmix
                .col-sm-10
                    ul.d-flex.justify-content-end.align-items-center
                        li.mr-2
                            .dropdown
                                button.btn.btn-light.dropdown-toggle(type="button" id="dropdownTecnicos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Comuna
                                .dropdown-menu(aria-labelledby="dropdownTecnicos")
                                    each val in ['Todos','Providencia','Santiago','Las Condes']
                                        a.dropdown-item(href="#")= val
                        li.mr-auto
                            .input-group.input-group-sm
                                .input-group-prepend
                                    label.input-group-text(for="#step2SelectClientType")
                                        i.fas.fa-search
                                    input.form-control(type="text" placeholder="ID Cliente")
                        li.mr-3
                            .dropdown
                                button.btn.btn-light.dropdown-toggle(type="button" id="dropdownTecnicos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Técnicos
                                .dropdown-menu(aria-labelledby="dropdownTecnicos")
                                    each val in ['Todos','Pedro Carrasco','Jorge Salgado','Juan Gonzalez']
                                        a.dropdown-item(href="#")= val
                        li.mr-3
                            .dropdown
                                button.btn.btn-light.dropdown-toggle(type="button" id="dropdownZona" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Zona TCM
                                .dropdown-menu(aria-labelledby="dropdownZona")
                                    each val in ['Todas','Santiago','Rancagua','Viña del mar']
                                        a.dropdown-item(href="#")= val
                        li
                            button.btn.btn-outline-primary Filtrar

            .row.tab-content#myTabContent
                .col-md-10.col-xl-9.pt-4.px-xl-4
                    ul.d-flex.justify-content-between.px-xl-4
                        li.pr-3(style="min-width:12%")
                            ul.nav.nav-pills.flex-column.mb-3#pills-tab(role="tablist" aria-orientation="vertical")
                                li.nav-item.mb-2
                                    a.nav-link.active.py-1#pills-home-tab(data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true") Tabla
                                li.nav-item
                                    a.nav-link.py-1#pills-profile-tab(data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false") Mapa
                        li.p-2.text-center.border.border-right-0
                            span <i class="fas fa-caret-left"></i>
                        - 
                            var week = [
                                {
                                    "id" : "1",
                                    "name" : "Lunes",
                                    "nikName" : "Lun",
                                },
                                {
                                    "id" : "2",
                                    "name" : "Martes",
                                    "nikName" : "Mar",
                                },
                                {
                                    "id" : "3",
                                    "name" : "Miercoles",
                                    "nikName" : "Mie",
                                },
                                {
                                    "id" : "4",
                                    "name" : "Jueves",
                                    "nikName" : "Jue",
                                },
                                {
                                    "id" : "5",
                                    "name" : "Viernes",
                                    "nikName" : "Vie",
                                },
                                {
                                    "id" : "6",
                                    "name" : "Sabado",
                                    "nikName" : "Sab",
                                },
                                {
                                    "id" : "0",
                                    "name" : "Domingo",
                                    "nikName" : "Dom",
                                },
                            ]
                        each val, key in week
                            li.p-2.text-center.border.border-right-0.w-100(class="weekDay-"+val.id)
                                span#activeDay.d-none Hoy 
                                span #{val.nikName} 
                                span#dayNumber 
                                p.pt-2
                                    small 
                                        a(href="#" data-toggle="modal" data-target="#reprogramarDia") Reprogramar
                                        
                        li.p-2.text-center.border
                            span <i class="fas fa-caret-right"></i>
                .col-md-2.col-xl-3.pt-4
                    a.btn.btn-primary.btn-sm.mb-4.btnDatepicker(href="#") Seleccionar fecha
                        .d-none.datepickerRoutes

            .row.tab-content
                .col-md-10.col-xl-9
                    .tab-content#pills-tabContent
                        .tab-pane.fade.show.active#pills-home(role="tabpanel" aria-labelledby="pills-home-tab")
                            - 
                                var array = [
                                    { 
                                        "id"   : "1",
                                        "name" : "Juan Perez",
                                        "route" : "A",
                                        "pts" : "5000",
                                        "meta" : "85",
                                        "brix" : "4",
                                        "sanitizado" : "12",
                                        "tecWeek" : [
                                            {
                                                "meta" : "25",
                                                "brix" : "2",
                                                "sanitizado" : "6",
                                                "pts" : "600",
                                                "comunas": [ "Cerrillos", "La Reina", "Pudahuel" ],
                                                "ruta" : "PR1"
                                            },
                                            {
                                                "meta" : "33",
                                                "brix" : "5",
                                                "sanitizado" : "12",
                                                "pts" : "900",
                                                "comunas": [ "Cerro Navia", "Las Condes", "Quilicura" ],
                                                "ruta" : "PR2"
                                            },
                                            {
                                                "meta" : "47",
                                                "brix" : "2",
                                                "sanitizado" : "17",
                                                "pts" : "1280",
                                                "comunas": ["Las Condes", "La Reina", "Pudahuel"],
                                                "ruta" : "PR3"
                                            },
                                            {
                                                "meta" : "55",
                                                "brix" : "3",
                                                "sanitizado" : "11",
                                                "pts" : "820",
                                                "comunas": [ "Cerrillos", "La Reina", "Pudahuel" ],
                                                "ruta" : "PR4"
                                            },
                                            {
                                                "meta" : "63",
                                                "brix" : "5",
                                                "sanitizado" : "16",
                                                "pts" : "400",
                                                "comunas": [ "Cerro Navia", "Las Condes", "Quilicura" ],
                                                "ruta" : "PR5"
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "2",
                                                "sanitizado" : "12",
                                                "pts" : "500",
                                                "comunas": [ "Las Condes", "La Reina", "Pudahuel" ],
                                                "ruta" : "PR6"
                                            },
                                            {
                                                "meta" : "95",
                                                "brix" : "8",
                                                "sanitizado" : "5",
                                                "pts" : "500",
                                                "comunas": ["Cerrillos", "La Reina", "Pudahuel"],
                                                "ruta" : "PR7"
                                            },
                                        ] 
                                    },
                                    { 
                                        "id" : "2",
                                        "name" : "Pedro Carrasco",
                                        "route" : "B",
                                        "pts" : "6000",
                                        "meta" : "75",
                                        "brix" : "5",
                                        "sanitizado" : "15",
                                        "tecWeek" : [
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Conchalí", "Lo Barnechea", "Quinta Normal" ],
                                                "ruta" : "PR1"
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "El Bosque", "Lo Espejo", "Recoleta" ],
                                                "ruta" : "PR1"
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Estacion Central", "Lo Prado", "Renca" ],
                                                "ruta" : "PR1"
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Conchalí", "Lo Barnechea", "Quinta Normal" ],
                                                "ruta" : "PR1"
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "El Bosque", "Lo Espejo", "Recoleta" ],
                                                "ruta" : "PR1"
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Estacion Central", "Lo Prado", "Renca" ],
                                                "ruta" : "PR1"
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Conchalí", "Lo Barnechea", "Quinta Normal" ],
                                                "ruta" : "PR1"
                                            },
                                        ]
                                    },
                                    { 
                                        "id" : "3",
                                        "name" : "Gerardo Angulo",
                                        "route" : "C",
                                        "pts" : "6000",
                                        "meta" : "75",
                                        "brix" : "5",
                                        "sanitizado" : "15",
                                        "tecWeek" : [
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Huechuraba", "Macul", "San Miguel" ],
                                                "ruta" : "PR1"
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Independencia", "Maipú", "San Joaquín" ],
                                                "ruta" : "PR1"
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Huechuraba", "Macul", "San Miguel" ],
                                                "ruta" : "PR1"
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Huechuraba", "Macul", "San Miguel" ],
                                                "ruta" : "PR1"
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Independencia", "Maipú", "San Joaquín" ],
                                                "ruta" : "PR1"
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Independencia", "Maipú", "San Joaquín" ],
                                                "ruta" : "PR1"
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Independencia", "Maipú", "San Joaquín" ],
                                                "ruta" : "PR1"
                                            },
                                        ]
                                    },
                                    { 
                                        "id" : "4",
                                        "name" : "Alverto Rivero",
                                        "route" : "D",
                                        "pts" : "6000",
                                        "meta" : "75",
                                        "brix" : "5",
                                        "sanitizado" : "15",
                                        "tecWeek" : [
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Las Condes","Buín","Recoleta" ],
                                                "ruta" : "PR1"
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Santiago","Providencia","Puente Alto" ],
                                                "ruta" : "PR1"
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Vitacura","Independencia","La Reina" ],
                                                "ruta" : "PR1"
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Las Condes","Buín","Recoleta" ],
                                                "ruta" : "PR1"
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Las Condes","Buín","Recoleta" ],
                                                "ruta" : "PR1"
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Las Condes","Buín","Recoleta" ],
                                                "ruta" : "PR1"
                                            },
                                            {
                                                "meta" : "75",
                                                "brix" : "5",
                                                "sanitizado" : "15",
                                                "pts" : "1200",
                                                "comunas": [ "Las Condes","Buín","Recoleta" ],
                                                "ruta" : "PR1"
                                            },
                                        ]
                                    },
                                ]
                            .rute-wrapper.px-xl-4(style="max-height:80vh; overflow-y:scroll; overflow-x:hidden")
                                each val, key in array
                                    .wrap.mb-2.shadow(class="ruta"+val.route)
                                        ul.d-flex.justify-content-between
                                            li.p-3.border.border-right-0(style="min-width:12%")
                                                .pb-3
                                                    h6
                                                        strong #{val.name}
                                                .d-flex.w-100.justify-content-between
                                                    p #{val.pts} 
                                                    p #{val.meta} %
                                                .progress(style="height:10px"  )
                                                    .progress-bar.progress-bar-striped(role="progressbar" style="width:"+val.meta+"%;" aria-valuenow=val.meta aria-valuemin="0" aria-valuemax=val.pts) 
                                            li.p-2.text-center.border.border-right-0.d-flex.align-items-center
                                                span <i class="fas fa-caret-left"></i>
                                            each v, k in val.tecWeek
                                                li.p-3.border.border-right-0.w-100(class="card-day card-day-"+k)
                                                    a(href=baseDir+"detalle-ruta/detalle-ruta.html")
                                                        .d-flex.w-100.justify-content-between.align-items-start
                                                            h6 #{v.ruta}
                                                            span #{v.pts} pts
                                                        .progress.mb-2(style="height:10px")
                                                            .progress-bar.progress-bar-striped(role="progressbar" style="width:"+v.meta+"%;" aria-valuenow=v.meta aria-valuemin="0" aria-valuemax=v.pts) 
                                                        .text-white
                                                            p.text-center.bg-success.p-xl-1.text-uppercase.mb-1
                                                                small brxpm (1)
                                                            p.text-center.bg-primary.p-xl-1.text-uppercase.mb-1
                                                                small sanpm (1)
                                            li.p-2.text-center.border.d-flex.align-items-center
                                                p <i class="fas fa-caret-right"></i>

                        .tab-pane.fade#pills-profile(role="tabpanel" aria-labelledby="pills-profile-tab")
                            .row
                                .col-3
                                    each val in array
                                        .card.mb-4
                                            .card-body.py-1.px-3
                                                .d-flex.align-items-center.pb-2
                                                    span.route-info--ico.route-info--ico__route.mr-2.bg-info
                                                        span.route-info--ico__content  #{val.route}
                                                    span #{val.name}
                                                .mb-2
                                                    .progress(style="height:10px")
                                                        .progress-bar.progress-bar-striped(role="progressbar" style="width:"+val.meta+"%;" aria-valuenow=val.meta aria-valuemin="0" aria-valuemax=val.pts) 
                                                            span(style="font-size:8px") #{val.meta}%
                                                .d-flex.align-items-center.pb-2
                                                    span.route-info--ico.bg-success.mr-2
                                                        span.route-info--ico__content #{val.brix} 
                                                    span
                                                        small Brix
                                                    .badge.badge-light.border.p-2.ml-auto Ciclo 4
                                                .d-flex.align-items-center.pb-2
                                                    span.route-info--ico.bg-secondary.mr-2
                                                        span.route-info--ico__content #{val.sanitizado}
                                                    span
                                                        small Sanitizado
                                                    .badge.badge-light.border.p-2.ml-auto Ciclo 11
                                .col-9
                                    #map(style="position:relative;height: 500px;width: 100%;margin: 0px;padding: 0px")

                .col-md-2.col-xl-3
                    hr
                    p.pl-3
                        b Asignación
                    ul.d-flex.justify-content-between.align-items-center
                        li.mr-2 
                            .form-group.m-0
                                select.form-control
                                    option Día
                                    - for (var i = 1; i < 30; ++i) 
                                        option= i
                        li.mr-2
                            select.custom-select.form-control.w-100#step2SelectClientType
                                option Ruta
                                optgroup(label="Lun 09-09-2020")
                                each val in ['PR1 - Juan Pérez','PA1 - Pedro Carrasco','PC1 - Alverto Rivera', 'PJ1 - Isaac Valdivia','PH1 - Cristián Barahona','PB1 - Álvaro Peréz']
                                    option= val
                                optgroup(label="Lun 10-09-2020")
                                each val in ['PR2 - Juan Pérez','PA2 - Pedro Carrasco','PC2 - Alverto Rivera', 'PJ2 - Isaac Valdivia','PH2 - Cristián Barahona','PB2 - Álvaro Peréz']
                                    option= val
                        li
                            button.btn.btn-outline-primary.btn-sm(href="#") Asignar
                    - 
                        var asignar = [
                            { 
                                "id":"1",
                                "pts":"1 cuadro",
                                "ciclo": 2,
                                "rutas" : ["A", "D"],
                                "comuna" : "Las condes"
                            },
                            { 
                                "id":"2",
                                "pts":"2 cuadro",
                                "ciclo": 1,
                                "rutas" : ["B"],
                                "comuna" : "Estacion Central"
                            },
                            { 
                                "id":"3",
                                "pts":"3 cuadro",
                                "ciclo": 4,
                                "rutas" : [],
                                "comuna" : "Huechuraba"
                            },
                        ]
                    .wrapper.pr-2(style="max-height:80vh; overflow-y:scroll; overflow-x:hidden")
                        each val, key in asignar
                            .routeCardGroup.mb-4
                                a.routeCard(href="#" data-comuna=val.comuna.toLowerCase().replace(' ','') data-rutas=val.rutas)
                                    .card.rounded-0.pb-2
                                        .card-header.py-1.px-3
                                            .d-flex.align-items-baseline
                                                h6 Cod Máquina
                                                span.badge.badge-primary.p-2.mt-2.ml-auto 500pts
                                        .card-body.py-1.px-3
                                            p
                                                b Nombre Máquina [Modelo] [Logo]
                                            .d-flex.align-items-center.pb-2.text-white
                                                p.text-center.bg-success.p-2.mr-2.text-uppercase brxpm (1)
                                                p.text-center.bg-primary.p-2.mr-2.text-uppercase sanpm (1)
                                            small 15/04/2020
                                            p 12228 - Burger King 
                                                small Pedro Fontova 134
                                            p
                                                .badge.badge-light.border.p-2.ml-auto #{val.comuna}
                                            .button-group.d-flex.justify-content-end
                                                button.btn.btn-outline-primary.btn-sm(onClick="location.href='./detalle-ruta/detalle-ruta.html'") Ver OT


        include ../components/modal/_modal-reasignar-ruta

        block scripts 
        script(
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"
            )
        script(
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"
            )
        script(
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
            crossorigin="anonymous"
            )
        script(
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"
            )
        //- script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")
        script(src=baseDir+"assets/js/routes-dist.js")
        script(src=baseDir+"assets/js/map-routes-dist.js")
        script(
            async
            defer
            src="https://maps.googleapis.com/maps/api/js?callback=initMap"
            )