extends ../layout/_header

block append config
    -var pageTitle = 'Vaalidación llamado OT'
    -var pageDescription = ''
    -var baseDir = ''
    -var linkSrc = ''

block mainContent
    main.content-wrapper
        section.container-fluid.pt-5.pb-3.px-5
            .row
                .col
                    h5
                        a(onclick="goBack()")
                            i.fas.fa-arrow-left.mr-2
                        i.fas.fa-phone.mr-2
                        span #09346486358
                .col
                    h5
                        i.fas.fa-layer-group.pr-2 
                        | Urgencia de Cooler - [Modelo] - [Logo]
                .col.align-self-end.text-right
                    h5
                        b 
                            span +24H
            hr.mt-5
            .row
                .col-8
                    h4 Detalle del llamado
                    p.text-right
                        small 12/08/19 12:43 hrs
                    .card.bg-grey.container-fluid.py-3
                        .row
                            .col-6
                                p.mb-1 
                                    b Datos del spot
                                p.my-3
                                    small Sucursal spot
                                .card
                                    table.table
                                        tr
                                            td Burguer King Pedro de Fontova
                                            td.text-right ID: 9676
                                    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3331.01075626506!2d-70.58617688480206!3d-33.39688358078929!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf2ddbca25c3%3A0x94faa92657957dde!2sAv%20Vitacura%205250%2C%20of.%20308%2C%20Vitacura%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1579371739262!5m2!1ses-419!2scl"
                                    width="100%" 
                                    height="150" 
                                    frameborder="0" 
                                    style="border:0;" 
                                    allowfullscreen="")
                                    table.table
                                        tr
                                            td Ubicación
                                            td.text-right Providencia 701
                                        tr
                                            td Comuna
                                            td.text-right Providencia
                                        tr
                                            td Zona TCM 
                                            td.text-right Santiago
                                        tr
                                            td Coordenadas
                                            td.text-right -33.68735, -70.378273
                                p.mt-3
                                    small Cliente spot
                                .card
                                    table.table
                                        tr
                                            td Rut
                                            td.text-right 76.764.554
                                        tr
                                            td Razón social
                                            td.text-right Burger King S.A.
                                p.mt-3
                                    small Contacto
                                .card
                                    table.table
                                        tr
                                            td Nombre
                                            td.text-right Sebastián Morales
                                        tr
                                            td Teléfono
                                            td.text-right +569 6433 6342
                                        tr
                                            td email
                                            td.text-right sebastianmorales@gmail.com
                                p.mt-3
                                    small Horario de atención
                                .card
                                    .table-responsive#tableHorarios
                                        table.table.mt-4
                                                thead
                                                    tr
                                                        th( scope="col") 
                                                            b Días
                                                        th( scope="col") 
                                                            b Apertura
                                                        th( scope="col") 
                                                            b Cierre
                                                - for (var i = 1; i < 4; ++i) 
                                                    tbody
                                                        tr
                                                            td Lunes a: Domingo
                                                            td 08:00 a: 15:00
                                                            td 5:00 a: 23:59

                            .col-6
                                p.mb-1 
                                    b Datos de la máquina
                                    p.my-3
                                        small Equipo afectado
                                .card
                                    table.table
                                        tr
                                            td SKU
                                            td.text-right 8765
                                        tr
                                            td Código TCM
                                            td.text-right 200156789
                                        tr
                                            td Modelo
                                            td.text-right Cooler V2345 1 Puerta
                                        tr
                                            td Logo
                                            td.text-right Cristal
                                        tr
                                            td Mandante
                                            td.text-right CCU
                                p.mb-1 
                                    b Reporte
                                    p.my-3
                                        small Diagnóstico
                                        .badge.badge-info.p-2.mr-1 Nivel 1
                                    p.my-3
                                        small Posible Problema
                                        .badge.badge-info.p-2.mr-1 Cooler no enfria
                                        .badge.badge-info.p-2.mr-1 Tubería rota
                                        .badge.badge-info.p-2.mr-1 Problema eléctrico
                                    p.my-3
                                        small Nota del cliente
                                    .card
                                        .card-body
                                            p En las tardes deja de enfriar, por la mañana siempre esta ok
                .col-4
                    h4 OTs y Cierres
                    p.text-right
                        small 12/08/19 12:43 hrs
                    .card
                        .card-body
                            .mb-4.d-flex
                                span.tecnioo-card--title__status.bg-info 
                                |Pendiente de validación
                                span.badge.badge-primary.p-2.ml-2.ml-auto 500 pts
                            p
                                i.fas.fa-user-circle.pr-2
                                |Sin Asignación
                            .d-flex.justify-content-between
                                button.btn.btn-outline-primary.btn-sm OT:9876554342
                                button.btn.btn-outline-secondary.btn-sm(data-toggle="modal" data-target="#checkin" id="checkinBtn") Check-in
                                button.btn.btn-outline-secondary.btn-sm(data-toggle="modal" data-target="#firma" id="firmaBtn") Firma
                            p.mb-3.mt-5
                                b Nuevo Diagnóstico
                            p
                                span.badge.badge-secondary.p-2 Solicitud de cambio de compresor
                            p
                                b Solución
                            p
                                span.badge.badge-info.p-2.mr-2 Limpieza de condensador
                                span.badge.badge-info.p-2.mr-2 Filtro tapado
                                span.badge.badge-info.p-2 Termostato
                            p
                                b Causa
                            p
                                span.badge.badge-info.p-2.mr-2 Desgaste
                            p
                                b Acción
                            p
                                span.badge.badge-info.p-2.mr-2 Cambio
                            p
                                b Repuesto
                            p
                                span.badge.badge-info.p-2.mr-2 2 Filtro MN678
                                span.badge.badge-info.p-2.mr-2 1 Manguera 456
                            p
                                b Observación del técnico
                                .card.p-2
                                    .card-body.p-0
                                        p.m-0 El diagnostico estaba equivocado, solicito validar de nuevo
                            .py-2
                                ul.detalles-owl.owl-carousel.owl-theme
                                    - for (var i = 1; i < 6; ++i) 
                                        li.item.px-2
                                            a(class="fancybox" rel="group" href="https://aakruthigroup.com/wp-content/uploads/2017/09/gallery-dummy-img-1.jpg" download)
                                                img.w-100(src="https://aakruthigroup.com/wp-content/uploads/2017/09/gallery-dummy-img-1.jpg", alt="")
                            
                            p.mb-3.mt-5
                                b Firma Cliente
                            p
                                btn.btn.btn-outline-primary.btn-sm Aprobado
                            hr
                            p.mb-3.mt-5
                                b Validación
                            a(href="aprobacioncerrarok.html" ).d-block.btn.btn-outline-primary.btn-sm.my-2 Aprobar y cerrar OK el llamado
                            a(href="aprobacionreagendarmismotecnico.html" ).d-block.btn.btn-outline-primary.btn-sm.my-2 Aprobar y reagendar al mismo técnico
                            .py-2
                            a(href="rechazarcerrarok.html" ).d-block.btn.btn-outline-danger.btn-sm.my-2 Rechazar y cerrar OK el llamado
                            a(href="rechazoreagendarmismotecnico.html" ).d-block.btn.btn-outline-danger.btn-sm.my-2 Rechazar y reagendar al mismo técnico
                            a(href="rechazoreagendarotrotecnico.html" ).d-block.btn.btn-outline-danger.btn-sm.my-2 Rechazar y reagendar a otro técnico
                            a(href="rechazarenviarprogramacion.html" ).d-block.btn.btn-outline-danger.btn-sm.my-2 Rechazar y enviar a programación


        
    include ../layout/_scripts