.row
    .col
        h2.fs-title Diagnóstico Preventivo
        h3.fs-subtitle Antes de continuar conteste estas preguntas
        hr
.form-row.py-4
    .input-group
            .input-group-prepend
                label.input-group-text.form-control(for="step1SelectDiagnosticType") Tipo de diagnóstico
            select#step1SelectDiagnosticType.form-control.custom-select
                each val in ['Otro', 'Cambio de Carro Ducasse', 'Cambio de Compresor', 'Cambio de Enfriador', 'Cambio de Equipo', 'Cambio de Filtro', 'Cambio de Pistola', 'Cambo de Torre', 'Despacho', 'Diagnóstico 1', 'Diagnóstico 2', 'Enbellecimiento', 'Enfriador', 'Instalación Gráfica', 'Lavado', 'Mesón 1 (1 a 3)', 'Mesón 2 (4 a 6)', 'Mesón 3 (más de 6)', 'Nivel 1', 'Nivel 2', 'Nivel 3', 'Preparación Instalación', 'Recepción', 'Reparación 1', 'Reparación 2', 'Retiro 1', 'Retiro 2', 'Retiro 3', 'Retiro a Taller', 'Retiro Enfriador', 'Secado de Gráfica', 'Sugiere Baja']
                    option= val
.row
    ul.col-12.tecnioo-card
        li.bg-grey.w-100.px-4.py-2
            p
                b ¿El equipo está enchufado?
            p Asegurese que el equipo esta conectado a una fuente de energia de 220v
        li.text-right.w-100.py-2
            each val, i in {1:'Si', 2:'No', 3:'No sé'}
                .custom-control.custom-radio.custom-control-inline
                    input(type="radio" id="radioForContacto-"+i name="radioForContacto1" class="custom-control-input")
                    label(class="custom-control-label" for="radioForContacto-"+i) #{val}
    ul.col-12.tecnioo-card
        li.bg-grey.w-100.px-4.py-2
            p
                b ¿El equipo está enchufado?
            p Asegurese que el equipo esta conectado a una fuente de energia de 220v
        li.text-right.w-100.py-2
            each val, i in {4:'Si', 5:'No', 6:'No sé'}
                .custom-control.custom-radio.custom-control-inline
                    input(type="radio" id="radioForContacto-"+i name="radioForContacto2" class="custom-control-input")
                    label(class="custom-control-label" for="radioForContacto-"+i) #{val}
    ul.col-12.tecnioo-card
        li.bg-grey.w-100.px-4.py-2
            p
                b ¿El equipo está enchufado?
            p Asegurese que el equipo esta conectado a una fuente de energia de 220v
        li.text-right.w-100.py-2
            each val, i in {7:'Si', 8:'No', 9:'No sé'}
                .custom-control.custom-radio.custom-control-inline
                    input(type="radio" id="radioForContacto-"+i name="radioForContacto3" class="custom-control-input")
                    label(class="custom-control-label" for="radioForContacto-"+i) #{val}
    ul.col-12.tecnioo-card
        li.bg-grey.w-100.px-4.py-2
            p
                b ¿El equipo está enchufado?
            p Asegurese que el equipo esta conectado a una fuente de energia de 220v
        li.text-right.w-100.py-2
            each val, i in {10:'Si', 12:'No', 13:'No sé'}
                .custom-control.custom-radio.custom-control-inline
                    input(type="radio" id="radioForContacto-"+i name="radioForContacto4" class="custom-control-input")
                    label(class="custom-control-label" for="radioForContacto-"+i) #{val}

hr
a.previous.action-buton.btn.btn-light.mr-4#step4Prev Anterior
a.next.action-buton.btn.btn-primary.text-white.disabled#step4Next Siguiente