include ../utils/_mixins
block config
    -var pageTitle = ''
    -var pageDescription = ''
    -var baseDir = ''
    -var linkSrc = ''
doctype 
html(lang="es")
    head
        meta(charset="utf-8")
        title #{pageTitle}
        meta(content=""+pageTitle property="og:title")
        meta(name="description" content=""+pageDescription)
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href=baseDir+"assets/img/favicon.png", rel="icon")
        link(
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
            )
        link(
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
            crossorigin="anonymous")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css", rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css", rel="stylesheet")
        link(href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css", rel="stylesheet")
        link(href=baseDir+"assets/css/main.css", rel="stylesheet")
        link(href="images/favicon.png" rel="shortcut icon" type="image/x-icon")
        link(href="images/webclip.png" rel="apple-touch-icon")
        block links

    body

        block header
            nav.tecnioo-navbar.navbar.bg-primary.px-2.flex-row

                a.navbar-brand.tecnioo-navbar--wrap(href="home.html")
                    img.tecnioo-navbar--wrap__img(src=baseDir+"assets/img/avatar-2.png", alt="Tecnioo")

                .navbar-nav-scroll
                    ul.navbar-nav.flex-row
                        li.nav-item
                            a.nav-link.text-white.px-2(href=linkSrc+"llamados.html") Llamados
                            ul.navbar-nav.flex-row
                        li.nav-item.dropdown
                            a.nav-link.text-white.px-2.dropdown-toggle(href="#", id="dropdownMenuButton", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Ruta Camioneta
                            .dropdown-menu(aria-labelledby="dropdownMenuButton")
                                a.dropdown-item(href=linkSrc+"programacion.html") Programación
                                a.dropdown-item(href="#") Consulta de cierres
                        li.nav-item
                            a.nav-link.text-white.px-2(href=linkSrc+"llamados.html") Validaciones
                ul.navbar-nav.flex-row.ml-md-auto
                    li.nav-item.dropdown
                        a.nav-item.nav-link.dropdown-toggle.px-4.text-white(href="#", id="cientMenu" data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") 
                            | Mantenedores
                        .dropdown-menu.dropdown-menu-right.dropright(aria-labelledby="cientMenu")
                            a.dropdown-item.dropdown-toggle.dropdown-submenu(href="#" id="cientSubMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
                                <span class="nav-label dropright">Muestra 9</span><span class="caret"></span>
                            .dropdown-menu
                                each val in ['Maestra 91', 'Maestra 92', 'Maestra 93']
                                    a.dropdown-item(href="#")= val
                            each val in ['Maestra 1', 'Maestra 2', 'Maestra 3', 'Maestra 4', 'Maestra 5', 'Maestra 6', 'Maestra 7', 'Maestra 8' ]
                                a.dropdown-item(href="#")= val

                                    
                    li.nav-item.dropdown
                        a.nav-item.nav-link.dropdown-toggle.text-white(href="#", id="cientProfile" data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") 
                            i.fas.fa-user-circle.pr-2
                            | Hola david.s@gmail.com
                        .dropdown-menu.dropdown-menu-right(aria-labelledby="cientMenu")
                            a.dropdown-item(href="#")  Cerrar Sesión

        block mainContent