include ../utils/_mixins
block config
    -var pageTitle = ''
    -var pageDescription = ''
    -var baseDir = ''
    -var linkSrc = ''
doctype 
html(lang="es")
    head
        meta(charset="utf-8")
        title #{pageTitle}
        meta(content=""+pageTitle property="og:title")
        meta(name="description" content=""+pageDescription)
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(href=baseDir+"assets/img/favicon.png", rel="icon")
        link(
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous"
            )
        link(
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
            crossorigin="anonymous")
        link(href=baseDir+"assets/css/main.css", rel="stylesheet")
        link(href="images/favicon.png" rel="shortcut icon" type="image/x-icon")
        link(href="images/webclip.png" rel="apple-touch-icon")

    body(class="tecnioo-"+pageTitle.replace(/\s+/g, '-').toLowerCase())

        block header
            header.tec-navigation
                //include ../layout/_nav

        block mainContent