h5 Datos del llamado
table.table
    tbody
        tr 
            th(scope="row") Origen de lamado
            td Llamado
        tr 
            th(scope="row") Tipo de lamado
            td Urgencia
        tr
            th(scope="row") Cliente
            td [Cliente Manandte]
        tr 
            th(scope="row") Rut
            td 77.889.654-0
        tr 
            th(scope="row") Dirección
            td 77.889.654-0
        tr 
            th(scope="row") Comuna
            td Providencia 
        tr 
            th(scope="row") Sucursal
            td Sucursal 0
.prview-llamados--iframe.pb-3
    iframe(
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3331.01075626506!2d-70.58617688480206!3d-33.39688358078929!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf2ddbca25c3%3A0x94faa92657957dde!2sAv%20Vitacura%205250%2C%20of.%20308%2C%20Vitacura%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1579371739262!5m2!1ses-419!2scl"
        width="100%" 
        height="100" 
        frameborder="0" 
        style="border:0;" 
        allowfullscreen="")
h5 Contacto
table.table
    tbody
        tr 
            th(scope="row") Nombre
            td Juan González
        tr 
            th(scope="row") Teléfono
            td +569 6 5654.8454
        tr 
            th(scope="row") Email
            td nombre@empresa.cl
h5 Información del equipo
table.table
    tbody
        tr 
            th(scope="row") Maquina
            td Juan González
        tr 
            th(scope="row") Modelo
            td +569 6 5654.8454
        tr 
            th(scope="row") Marca
            td 
                .tecnioo-card--img.m-auto
                    img.w-100(src="./assets/img/logo-cristal.jpg", alt="")
h5 Información del problema
table.table
    tbody
        tr 
            th(scope="row") 1
            td No Enfría
        tr 
            th(scope="row") 2
            td No Funciona
        tr 
            th(scope="row") 3
            td Cambiar Compresor
h5 Horarios de atención
table.table
    tbody
        tr 
            th(scope="row") Días
            td De: Lunes a: Domingo
        tr 
            th(scope="row") Apertura
            td De: 08:00 a: 15:00
        tr 
            th(scope="row") Cierre
            td De: 15:00 a: 23:59